<div class="container">
  <p id="notice"><%= notice %></p>
  
  <h2><%= @board.title %></h2>
  
  <!--<table>-->
  <!--  <thead>-->
  <!--    <tr>-->
  <!--      <th>Title</th>-->
  <!--      <th>Content</th>-->
  <!--      <th colspan="3"></th>-->
  <!--    </tr>-->
  <!--  </thead>-->
  
  <!--  <tbody>-->
  <!--    <%# @articles.each do |article| %>-->
  <!--      <tr>-->
  <!--        <td>-->
  <!--          <%# unless article.img_url.nil? %>-->
  <!--          <img src="<%#= article.img_url %>" />-->
  <!--          <%# end %>-->
  <!--        </td>-->
  <!--        <td><%#= article.title %></td>-->
  <!--        <td><%#= article.content %></td>-->
  <!--        <td><%#= link_to 'Show', article_path(@board, article) %></td>-->
  <!--        <td><%#= link_to 'Edit', edit_article_path(@board, article) %></td>-->
  <!--        <td><%#= link_to 'Destroy', [@board, article] , method: :delete ,data: { confirm: 'Are you sure?' } %></td>-->
  <!--      </tr>-->
  <!--    <%# end %>-->
  <!--  </tbody>-->
  <!--</table>-->
  
  <table class="table table-sm">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">제목</th>
      <% if user_signed_in? %>
        <% if current_user.authorization == '1' %>
          <th scope="col">어드민 권한</th>
        <% end %>
      <% end %>
    </tr>
  </thead>
    <% @i = 1 %>
    <% @articles.each do |article| %>
      <tbody>
        <tr>
          <th scope="row"><%= @i %></th>
          <td><%= link_to article.title, article_path(@board, article) %></td>
          <% if user_signed_in? %>
            <% if current_user.authorization == '1' %>
              <td>
                <%= link_to '편집', edit_article_path(@board, article) %> |
                <%= link_to '삭제', [@board, article] , method: :delete ,data: { confirm: '정말 삭제하시겠습니까?' } %>
              </td>
            <% end %>
          <% end %>
        </tr>
      </tbody>
      <% @i = @i + 1 %>
    <% end %>
  </table>
  <br>
  <%= link_to '공지사항 글쓰기', new_article_path %>
</div>
