
            <!--수공업자 회원가입-->
            <h2>회원가입</h2>
            
            <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
              <%= f.error_notification %>
            
              <div class="form-inputs">
                
                <input type="text", autofocus="true", id="user_email", name="user[email]", placeholder='아이디를 입력하세요.'>
                <%= f.input :password, required: true, label: false, placeholder: '비밀번호를 입력하세요.', hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
                <%= f.input :password_confirmation, required: true, placeholder: '비밀번호를 다시 확인하세요.' %>
                <%= f.input :name, required: true, label: false, placeholder: '이름을 입력하세요.' %>
                <%= f.input :mail, required: true, label: false, placeholder: 'email을 입력하세요.' %>
                <%= f.input :phone_number, required: true, label: false, placeholder: '핸드폰 번호를 입력하세요.' %>
                <%= f.input :business_number, required: true, label: false, placeholder: '사업자번호를 입력하세요.' %>
  
                <div>
                    <!-- 검색 기능을 표시할 <div>를 생성한다 -->
                    <div id="postcodify"></div>
                </div>
                <!-- 주소와 우편번호를 입력할 <input>들을 생성하고 적당한 name과 id를 부여한다 -->
                <input type="text" name="user[postcode]" id="postcode" value="" /><br />
                <input type="text" name="user[address]" id="address" value="" /><br />
                <input type="text" name="user[details]" id="details" value="" /><br />
                <input type="text" name="user[extra_info]" id="extra_info" value="" /><br />
                
                <!-- jQuery와 Postcodify를 로딩한다 -->
                <script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
                <script src="//d1p7wdleee1q2z.cloudfront.net/post/search.min.js"></script>
                
                <!-- 위에서 생성한 <div>에 검색 기능을 표시하고, 결과를 입력할 <input>들과 연동한다 -->
                <script>
                    $(function() { $("#postcodify").postcodify({
                        insertPostcode5 : "#postcode",
                        insertAddress : "#address",
                        insertDetails : "#details",
                        insertExtraInfo : "#extra_info",
                        hideOldAddresses : false
                    }); });
                </script>
            
              </div>
            
                
              <div class="form-actions">
                <%= f.button :submit, "완료" %>
              </div>
            <% end %>
