<div class="container">
  <table class="table table-hover">
    <h1>장바구니</h1>
    <thead>
      <tr>
        <th scope="col", align="center">사진</th>
        <th scope="col">가격</th>
        <th scope="col">갯수</th>
      </tr>     
    </thead>
    
    
    
      <tbody>
        <% @cart.each do |cart| %>
          <tr>
            <td ><%= image_tag(cart.good.image_url)%></td>
            <td><%= cart.good.price %></td>
            <td ><%= cart.quantity %></td>
            <td><%= link_to '취소', root_url + "cart/" + cart.id.to_s , method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>


  <td><%= link_to '주문하기', root_url + "orders/placeorder", method: :post, data: { confirm: '주문하시겠습니까?' } %></td>
</div>



