 <link rel="stylesheet" type="text/css" href="order.css">
<container class="ordershow">
<p>
  <strong>주문 요청 내용</strong><br>
  <%= @order.content %>
</p>

<p>
  <strong>카테고리</strong><br>
  <% @order.categories.each do |c| %>
  <%= c.name %>
  <% end %>
</p>

<p>
<strong>디자인 이미지</strong><br>
  <%= image_tag("#{@order.img_url}",class:"orderimg")%>
</p>

<br>
<button class="button">
<%= link_to 'Edit', "/wenique/assign_order/edit/#{@order.id}" %>
</button><br>

<hr>

<br>
 <div class="inline fields">
  <%= form_for(@comment, url: assign_order_comment_create_path, method: 'post') do |f| %>
  <%= f.label :content, '가격 협상 댓글' %><br>
  <div class="field">
  <%= f.text_area :content,{:class => "order_comment", :placeholder =>"댓글에서 가격 및 제작 요건에 대해 협의해주세요"} %>
  <%= f.submit '작성', :class => 'comment_button'%>
  </div>
<% end %>
</div>
<hr>

<br>
<% @order_comments.each do |c| %>
댓글: <%= c.content %> <%= c.created_at.strftime("%Y-%m-%d  %H:%M:%S") %></br><br>
<% end %>
<% unless @order_comments == [] %>
  <hr>
<% end %>

<br>
<% if @current_user_autority == @order.s_id %> 
    <% if @price_check_status.price == nil %>
      <%= link_to '가격확정하기', assign_order_make_price_path, class: "btn" %>
    <% elsif %>
      <p><%= @price_check_status.price %></p>
      <% if @price_check_status.c_check == 1%>
            <p class="btn"> 가격 협상 완료</p>
      <% end%>
    <% end %>
<% elsif @current_user_autority == @order.c_id%>
   <% if @price_check_status.price == nil %>
      <p class='btn'>가격 미정</p>
    <% elsif %>
      <p><%= @price_check_status.price %>원</p>
      <% if @price_check_status.c_check == 0 %>
      <button><%= link_to '정해진 가격 동의', "/assign_order/#{@order.id}/price_agree" %></button>
      <% else %>
      <p class="btn"> 가격 협상 완료</p>
      <% end %>
    <% end %>
<% end %>

</container>
