<h1>Wenique#assign_order_edit</h1>
<%= form_for(@order, url: assign_order_update_path, method: 'patch', :multipart => true) do |f| %>
<%= f.label :content, '내용' %>
<%= f.text_area :content %></br>

<%= f.label :g_private, '완성제품 공개여부' %>
<%= f.check_box :g_private %></br>

<%= f.label :category_id, '카테고리' %>
<% @categories.each do |c| %>
<%= f.check_box :category_ids, { multiple: true }, c.id, false %>
<%= c.name %>
<% end %></br>

<%= f.label :img_url %>
<%= f.file_field :img_url %>
<br>


<%= f.submit '작성'%>
<% end %>


